.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
.idea
server
public
src/components
src/index.js
tests
node_modules
vue.config.js
babel.config.js
jest.config.js
.eslintrc.js
.browserslistrc
index.html
tsconfig.json
tsconfig.node.json
yarn.lock
